# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# config.py
config.py

# node_modules
node_modules/

# python_cache
__pycache__/

# pyenv-windows
install-pyenv-win.ps1

# mac
.DS_Store