[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2022.12.7"
charset-normalizer = "==2.1.1"
idna = "==3.4"
requests = "==2.28.1"
urllib3 = "==1.26.13"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.15"
